body {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Source Sans Pro;
    font-style: normal;
  }
  header,
  main,
  article,
  footer
   {
    box-sizing: border-box;
  }
  header,
  article,
  footer
   {
    color: #fff;
  }
  #nav-container {
    display: flex;
    padding-top: 50px;
    letter-spacing: 0.2em;
  }
  #project {
    font-size: 20px;
  }
  nav, #project {
    display: inline-block;
    padding-left: 12%;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  #project a, nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .cen {
    display: flex;
    align-items: center;  
    flex-direction: column;
  }
  header .cen {
    padding-top: 18%;
  }
  h1 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 48px;
    margin: -3px 0;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
  }
  .main-text,
  .read-more-button,
  p,
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .centralized_text {
    display: flex;
    justify-content: center;
  }
  .read-more-button {
    margin-top: 40px;
    color: white;
    background-color: #55C2D8;
    border-radius: 18px;
    border-style: none;
    width: 115px;
    height: 36px;
  }
  .learn-more-button {
    font-size: 100px;
    color: white;
    background-color: #39C2D7;
    border-radius: 50%;
    border-style: none;
    width: 150px;
    height: 150px;
  }
  header {
    height: 800px;
    background-image: url(../images/Desktop.png);
  }
  main {
    background-color: #EEE;
    height: 700px;
    font-size: 18px;
    color: #666;
    font-weight: 100;
  }
  main p {
    display: inline-block;
    width: 980px;
  
  }
  main h1 {
    padding-top: 8.3%;
    color: #464547;
  }
  article {
    background-image: url(../images/IMG.png);
    height: 666px;
  }
  article h1,
  article h2 {
    padding: 5%;
  }
 .main-text{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.main-text p {
  display: inline-block;
  max-width: 412px;
  text-align: left;
  font-size: 16px;
 }

footer {
  background-color: #464547;
  color: rgba(255, 255, 255, 0.8);
  height: 180px;
  font-family: avenir, sans-serif;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 70px);
  padding: 40px 6% 0 12%;
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.4);
}
footer span {
  color: white;
  font-size: 18px;
  letter-spacing: 0.2em;
  padding: 0 15px;
}
footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
footer > div:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
footer > div:nth-child(2) {
  grid-column: 3/8;
}
footer > div:nth-child(3) {
  grid-column: 3/6;
}
footer > div:nth-child(4) {
  grid-column: 6/8;
}